.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_ {
    width: 300px;
    background-color: #ffffff;
}

@media screen and (width < 400px) {
    .form_ {
        width: 260px;
    }
}
