@import url("/grid.css");

:root {
    --primary-color: #60c4ae;
    --primary-color-hover: #9de39d;
}

body {
    background-color: #F6F6F6;
    font-size: 16px;
}

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}
